concurrent = 10
check_interval = 0

[[runners]]
  name = "{{ inventory_hostname }}"
  url = "https://{{ gitlab_access_url }}"
  executor = "docker+machine"
  limit = 20
  request_concurrency = 10
  [runners.docker]
    image = "alpine:latest"
    privileged = true
    disable_cache = true
  [runners.cache]
    Type = "s3"
    Shared = true
    [runners.cache.s3]
      ServerAddress = "s3.amazonaws.com"
      AccessKey = "{{ gitlab_runner_access_key }}"
      SecretKey = "{{ gitlab_runner_secret_key }}"
      BucketName = "{{ gitlab_runner_s3_bucket }}"
      BucketLocation = "{{ aws_region }}"
  [runners.machine]
    IdleCount = 1
    IdleTime = 1800
    MaxBuilds = 100
    OffPeakPeriods = ["* * 0-10,18-23 * * mon-fri *", "* * * * * sat,sun *"]
    OffPeakTimezone = "UTC"
    OffPeakIdleCount = 1
    OffPeakIdleTime = 360
    MachineDriver = "amazonec2"
    MachineName = "gitlab-docker-machine-%s"
    MachineOptions = [
      "amazonec2-access-key={{ gitlab_runner_access_key }}",
      "amazonec2-secret-key={{ gitlab_runner_secret_key }}",
      "amazonec2-region={{ aws_region }}",
      "amazonec2-vpc-id={{ vpc_id }}",
      "amazonec2-subnet-id={{ subnet_id }}",
      "amazonec2-use-private-address=true",
      "amazonec2-private-address-only=true",
      "amazonec2-tags=runner-manager-name,gitlab-aws-autoscaler,Application,gitlab,Role,runner-auto",
      "amazonec2-security-group={{ security_groups[0].group_name }}",
      "amazonec2-instance-type={{ gitlab_runner_flavor }}",
    ]
